.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.formContainer {
  background: white;
  border-bottom: 6px solid #aaa;
  padding: 2rem;
}

.form {
  margin-top: 2rem;
}

.title {
  /* Heading/Heading 2+ */

  font-family: Roobert;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */

  text-align: center;
  letter-spacing: 0.01em;

  /* Text/Black text */

  color: #000000;
}

.field {
  margin-bottom: 1rem;
}

.field label {
  /* Captions/Caption Small */

  font-family: Untitled Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 0.3rem;

  /* Text/Black text */

  color: #000000;
}

.phone {
  display: flex;
  justify-content: space-between;
}

.phone > div:nth-of-type(2) {
  flex: 1;
}

.phone > div:first-of-type {
  width: 7rem;
  margin-right: 1rem;
  flex-shrink: 0;
  position: relative;
}

.phone > div:first-of-type input {
  padding-left: 40px;
}

.phone > div:first-of-type:before {
  content: "+";
  display: flex;
  padding: 16px 20px;
  align-items: center;
  position: absolute;
  pointer-events: none;
  opacity: 0.5;
  bottom: 0;
  left: 0;
}

input {
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 20px;
  width: 100%;

  /* Background/White background */

  background: #f4f4f4;
  border-radius: 2px;
}

.desc {
  /* Body/Body Small */

  font-family: Untitled Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 137% */

  text-align: center;

  /* Text/Muted text */

  color: #616161;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
}

.header {
  margin-bottom: 3rem;
}

.subtitle {
  font-family: Untitled Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  /* Text/Black text */

  color: #000000;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 4px 0px;
}

.subdesc {
  /* Body/Body XS */

  font-family: Untitled Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  /* Text/Muted text */

  color: #616161;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 4px 0px;
}

.preview {
  background: white;
  position: relative;
  padding: 6rem 3rem 3rem;
  border-bottom: 6px solid #aaa;
}

.previewWrapper {
  font-family: arial;
  font-size: 12px;
  font-weight: normal;
  margin: 0px;
  line-height: 1.18;
  color: black;
}

.previewLabel {
  background: #888;
  color: white;
  position: absolute;
  top: 3rem;
  text-transform: uppercase;
  right: 3rem;
  border-radius: 3px;
  padding: 0.3rem;
  font-size: 12px;
}

.logo img {
  width: 100px;
  height: auto;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.output {
  background: #013830;
  position: relative;
  padding: 6rem 3rem 3rem 3rem;
}

.codeWrapper {
  background: #07503d;
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 12px;
  width: 100%;
  font-family: monospace;
  resize: none;
  white-space: pre;
}

.copy {
  background: #21c980;
  color: #000;
  position: absolute;
  top: 3rem;
  text-transform: uppercase;
  right: 3rem;
  border-radius: 3px;
  padding: 0.3rem;
  font-size: 12px;
}

.success {
  background: #888;
  color: white;
}

.copy:not(:disabled):hover {
  cursor: pointer;
  background: #19a46c;
}

@media screen and (min-width: 768px) {
  .main {
    flex-direction: row;
  }

  .main > div {
    width: calc(100% / 3);
  }

  .preview {
    border-bottom: 0;
    border-right: 6px solid #aaa;
    padding: 10rem 3rem 3rem;
  }

  .formContainer {
    border-bottom: 0;
    border-right: 6px solid #aaa;
  }

  .output {
    padding: 10rem 3rem 3rem;
  }
}
