@font-face {
  font-family: "Roobert";
  font-weight: 400;
  src: url("/assets/fonts/Roobert-Regular.woff2") format("woff2"),
    url("/assets/fonts/Roobert-Regular.woff") format("woff"),
    url("/assets/fonts/Roobert-Regular.eot") format("eot");
}

@font-face {
  font-family: "Roobert";
  font-weight: 600;
  src: url("/assets/fonts/Roobert-Medium.woff2") format("woff2"),
    url("/assets/fonts/Roobert-Medium.woff") format("woff"),
    url("/assets/fonts/Roobert-Medium.eot") format("eot");
}

@font-face {
  font-family: "Untitled Sans";
  font-weight: 400;
  src: url("/assets/fonts/untitled-sans-web-regular.woff2") format("woff2"),
    url("/assets/fonts/untitled-sans-web-regular.woff") format("woff"),
    url("/assets/fonts/untitled-sans-web-regular.eot") format("eot");
}

@font-face {
  font-family: "Untitled Sans";
  font-weight: 600;
  src: url("/assets/fonts/untitled-sans-web-medium.woff2") format("woff2"),
    url("/assets/fonts/untitled-sans-web-medium.woff") format("woff"),
    url("/assets/fonts/untitled-sans-web-medium.eot") format("eot");
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Untitled Sans", arial, sans-serif;
}

.formContainer {
  background: white;
  border-bottom: 6px solid #aaa;
  padding: 2rem;
}

.form {
  margin-top: 2rem;
  padding-bottom: 3rem;
}

.title {
  /* Heading/Heading 2+ */

  font-family: "Roobert";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */

  text-align: center;
  letter-spacing: 0.01em;

  /* Text/Black text */

  color: #000000;
}

.field {
  margin-bottom: 1rem;
}

.field label {
  /* Captions/Caption Small */

  font-family: "Untitled Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;

  /* Text/Black text */

  color: #000000;
}

.field label input[type="checkbox"] {
  margin-right: 1rem;
}

.phone {
  display: flex;
  justify-content: space-between;
}

.phone > div:nth-of-type(2) {
  flex: 1;
}

.phone > div:first-of-type {
  width: 7rem;
  margin-right: 1rem;
  flex-shrink: 0;
  position: relative;
}

.phone > div:first-of-type input {
  padding-left: 40px;
}

.phone > div:first-of-type:before {
  content: "+";
  display: flex;
  padding: 16px 20px;
  align-items: center;
  position: absolute;
  pointer-events: none;
  opacity: 0.5;
  bottom: 0;
  left: 0;
}

.warning {
  background: #fff4e6;
  padding: 1rem;
  font-size: 14px;
  margin-top: 1rem;
}

input[type="text"],
input[type="email"] {
  /* Auto Layout */

  appearance: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 20px;
  width: 100%;

  /* Background/White background */

  background: #f4f4f4;
  border-radius: 2px;
  border: 1px solid #f4f4f4;
  outline: none;
}

input:focus {
  border-color: black;
}

.desc {
  /* Body/Body Small */

  font-family: "Untitled Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 137% */

  text-align: center;

  /* Text/Muted text */

  color: #616161;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
}

.header {
  margin-bottom: 3rem;
}

.subtitle {
  font-family: "Untitled Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  /* Text/Black text */

  color: #000000;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 4px 0px;
}

.subdesc {
  /* Body/Body XS */

  font-family: "Untitled Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  /* Text/Muted text */

  color: #616161;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 4px 0px;
}

.preview {
  background: white;
  position: relative;
  padding: 8rem 2rem 2rem;
  border-bottom: 6px solid #aaa;
}

.previewWrapper {
  font-family: arial;
  font-size: 12px;
  font-weight: normal;
  margin: 0px;
  line-height: 1.18;
  color: black;
}

.previewLabel {
  position: absolute;
  top: 3rem;
  right: 3rem;

  pointer-events: none;
  user-select: none;

  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px 8px;

  /* Primary Tints/Kyber Green/Kyber 200 */

  background: #cacaca;
  border-radius: 2px;

  /* Captions/Caption Title */

  font-family: "Untitled Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  letter-spacing: 0.04em;
  text-transform: uppercase;

  /* Text/Ultra White text */

  color: #000;
}

.logo img {
  width: 100px;
  height: auto;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.output {
  background: #013830;
  position: relative;
  padding: 6rem 2rem 3rem 2rem;
}

.codeWrapper {
  background: #07503d;
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 12px;
  width: 100%;
  font-family: monospace;
  resize: none;
  white-space: pre;
}

.copy {
  position: absolute;
  top: 3rem;
  right: 3rem;

  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px 8px;

  /* Primary Tints/Kyber Green/Kyber 200 */

  background: #19a46c;
  border-radius: 2px;

  /* Captions/Caption Title */

  font-family: "Untitled Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  letter-spacing: 0.04em;
  text-transform: uppercase;

  /* Text/Ultra White text */

  color: #ffffff;
}

.success {
  background: #cacaca;
  color: #000;
}

.copy:not(:disabled):hover {
  cursor: pointer;
  background: #19a46c;
}

@media screen and (min-width: 768px) {
  .main {
    flex-direction: row;
  }

  .main > div {
    width: calc(100% / 3);
  }

  .preview {
    border-bottom: 0;
    border-right: 6px solid #aaa;
    padding: 10rem 3rem 3rem;
  }

  .formContainer {
    border-bottom: 0;
    border-right: 6px solid #aaa;
    overflow: scroll;
  }

  .output {
    padding: 10rem 3rem 3rem;
  }
}
